@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
.avatarsty {
  width: 200px;
  height: 330px;
}
.btn {
  margin: 50px 0;
}
.mainpg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-family: "Gugi", cursive;
}

.mainpg h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
